<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
	  throwExceptions="false"
    internalLogLevel="Off"
	  internalLogFile="/var/log/nlog-internal.log">
	<variable name="myvar" value="myvalue" />
	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets  async="false">
		<target xsi:type="file" name="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}||${threadid}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||end" />
    <target xsi:type="file" name="DebugLog" fileName="${basedir}/DebugLog/${shortdate}.log" layout="${longdate}||${threadid}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||end" />

		<target xsi:type="Network" name="logstash_apiinsight" keepConnection="false" layout="调度系统：${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||end" address="tcp://127.0.0.1:5044" />
		<!--发送到RabbitMQ-->
    <target name="RabbitMQTarget" xsi:type="RabbitMQ" appid="NLog.RabbitMQ.DemoApp" timeout="10000" username="guest" password="guest" hostname="127.0.0.1" port="5672" vhost="/" useJSON="false" exchange="app-logging" exchangeType="topic" topic="logstash" maxBuffer="10240" heartBeatSeconds="3" Timeout="3000" layout="{'Logger':'${logger}','Logged':'${longdate}','Level':'${level}','Message':'${message}','Application':'SysDispatch','Host':'${machinename}','Exception':''}">
      <field key="threadid" layout="${threadid}" />
      <field key="machinename" layout="${machinename}" />
    </target>
		<!--输出到控制台-->
		<target name="c"
              xsi:type="Console"
              layout="${longdate} ${uppercase:${level}} ${Logger} ${message}" />
	</targets>
	<rules>
		<logger name="*" level="Debug" writeTo="RabbitMQTarget" >
			<filters defaultAction='Log'>
				<!--过滤系统的Trace信息-->
				<when condition="contains('${Logger}','AspNetCore')"  action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minilevel="Trace" writeTo="DebugLog">
			<filters defaultAction='Log'>
				<!--过滤系统的Debug信息-->
				<when condition="contains('${Logger}','Grpc.Net.Client')"  action="Ignore" />
				<when condition="contains('${Logger}','Grpc.AspNetCore.Server')"  action="Ignore" />
				<when condition="contains('${Logger}','Microsoft.AspNetCore')"  action="Ignore" />
				<when condition="contains('${Logger}','Microsoft.Extensions.Http.DefaultHttpClientFactory')"  action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Info" writeTo="c"/>
    <logger name="*" minlevel="Info" writeTo="File"/>
	</rules>
</nlog>